<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vendor.name %>
</p>

<p>
  <strong>Contact person:</strong>
  <%= @vendor.contact_person %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @vendor.payment %>
</p>

<p>
  <strong>Status:</strong>
  <%= @vendor.status %>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
