<!DOCTYPE html> <!--Main page rendered on the whole site-->
<html>
  <head>
    <title>Lamadaapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
  <!--Creating routes to pages and navigation-->
  <div class="container">
    <ul class="nav nav-tabs"><!--navbar-->
      <!--Adding these gives us relative routes-->
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Manifesto", welcome_manifesto_path %></li> 
      <li><%= link_to "Contact", welcome_contact_path %></li>
      <li><%= link_to "Products", welcome_products_path %></li>
      <li><%= link_to "FAQs", welcome_faqs_path %></li>
      <li><%= link_to "Team", welcome_team_path %></li>
      <li><%= link_to "invoices", invoices_path %></li>
      
      <% if current_user %>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Sign In", new_user_session_path %></li>
      <% end %>
    </ul>
    <!--devise notice and alerts using bootstrap-->
    <%if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error] %>
      </div>

    <% elsif flash[:alert] %>
      <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
      </div>
    <% end %>


    <%= yield %><!--Where the views get displayed-->
  </div>




  </body>
</html>
